@charset "utf-8";
/* 尾部 */
.SettledHome{
  background: url(../img/index/settle.png) repeat center;
}
.SettledHome p{
  color: #fff;
}
.dynamicHome .link-secondary{
  color: #fff !important;
}

.footer{
  background-color: #5580F7;
  color: #fff;
}
.footerContext{
  padding: 0 8rem;
  border-bottom: 1px solid #97B1FA;
}
.tellSize{
  font-size: 24px;
}
.sizeColor {
  color: #97B1FA;
}
.sizeColor:hover {
  color: #97B1FA;
}
/* 自适应 大于300px小于1050px的页面 */
@media (max-width: 1050px) and (min-width: 300px) {
  .footerContext{
    padding: 0 6rem;
  }
  .footer .ps-5 {
    padding-left: 0 !important;
  }
  .footer .col-6{
    text-align: center;
  }
} 
