@charset "utf-8";
.productHome {
  background: url(../img/product/productBg.png) center;
}
.navHover a:hover {
  color: #fff !important;;
}
.productHome .border-bottom,
.productHome .border-end {
  border-color:#5580F7 !important;
}
.productList{
  top: 31rem;
  left: 50%;
  transform:translateX(-50%);
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 3px 30px 1px rgba(31, 94, 0, 0.16);
}
.productMain{
  padding-top: 15rem;
  background: url(../img/product/productMain.png) center;
}
/* 小于580px */
@media (max-width: 572px) {
  .productHome{
    margin-bottom: 600px !important;
  }
  .productMain .productImg{
    width: 320px !important;
    height: 400px !important;
  }
  .maxSizeProduct{
    width: 300px;
  }
  .productList .my-5{
    padding: 0 3rem !important;
  }
  .productList .border-end {
    border-right: none !important;
  }
  .productList{
    top: 34rem;
    left: 53%;
  }
} 