@charset "utf-8";
/* 注册，找回密码 */
.register{
  width: 100%;
}
.code{
  display: inline-block;
  right: 27px;
  top: 0px;
  height: 42px;
  line-height: 42px;
  font-size: 14px;
  color: #D42D6C;
  font-weight: 400;
  font-family: PangMenZhengDao-Regular, PangMenZhengDao;
  z-index: 1000;
  cursor: pointer;
}
.code:hover{
  color: #D42D6C;
}
.codeInput{
  padding-right: 6rem;
}